.header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 90px;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;

  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
  transition: 0.3s all ease;

  background-color: #fff;
  z-index: 99;

  &.fix-header {
    position: fixed;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);

    .header__logo-icon {
      width: 50px;
      height: 50px;
      top: 3px;
    }
  }
  &__logo {
    position: relative;
    width: 90px;

    &-icon {
      width: 60px;
      height: 60px;
      top: 10px;
      object-fit: contain;
      z-index: 9;
      transition: 0.3s all ease;
    }
  }

  &__navigation {
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        margin: 0 30px;
        list-style-type: none;

        &--link {
          position: relative;
          line-height: 24px;

          font-size: 16px;
          font-weight: 500;
          font-family: 'Fira Sans', sans-serif;
          color: var(--black);
          transition: 0.3s all ease;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;

          &:visited {
            color: purple;
          }
          &:active {
            background-color: #ccc;
          }
          &:hover {
            color: var(--orange);
          }
        }
      }
    }
  }

  &__tools {
    display: flex;
    align-items: center;

    &-discount {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 30px;
      line-height: 24px;

      font-size: 16px;
      font-weight: 500;
      font-family: 'Fira Sans', sans-serif;
      color: var(--black);
      transition: 0.3s all ease;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: var(--orange);
      }
    }

    &-basket {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 20px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      cursor: pointer;

      &-icon {
        width: 28px;
        height: 24px;
        margin-right: 9px;
      }

      &-quantity {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 13px;
        top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
        color: #fff;
        background: var(--red);
      }
    }
  }
}
