@mixin transform-transition-button-styles {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ff4081;
  color: #ff4081;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
