@import '../../styles/mixins';

.singleton-container {
  @include centrilized-content-styles;
  flex-direction: column;
}

.singleton-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.singleton-container p {
  font-size: 1.2rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
