@import '../../styles/variables';
@import '../../styles/mixins';

.indexed-db-container {
  @include centrilized-content-styles;
  flex-direction: column;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
    }

    &:disabled {
      background-color: $secondary-color;
      cursor: default;
    }
  }
}
